@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  background-color: aliceblue;
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.font {
  font-family: monospace;
  font-size: 1.5em;
  font-weight: bolder;
}

.heading {
  text-decoration: underline;
  margin-top: 1em;
}

.dropdown {
  margin-bottom: 1em;
  width: 300px;
}

.current-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.current-list p {
  margin: 0;
}

.noteFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0 auto;
}

.form-control {
  font-size: 1em;
}

i {
  margin-right: 5px;
}

.card {
  margin: 1em auto;
}

.card-criminalName {
  font-size: 1.5em;
}

.card-noteText {
  padding-top: 1em;
}

.card-title {
  text-align: right;
}

.card-btns {
  display: flex;
  justify-content: flex-end;
}

.note-btn {
  font-size: 1.3em;
}

.note-btn i {
  margin: auto;
}

.note-form {
  margin-top: 5em;
  border-radius: 10px;
  padding: 1em;
}

.edit-form {
  margin-top: 5em;
  border-radius: 10px;
  padding: 1em;
}

.edit-form input,
.edit-form select {
  border: 2px solid red;
}

/* Family Chores */

.family-chores {
  border-left: 2px solid #6c757d;
}
